.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
PRESENTATION_*.md
USAGE_ENTERPRISE_AX_GUIDE.md
presentation*.md
presentaion*.md
cli/node_modules/**
cli/src/**
cli/package-lock.json
cli/tsconfig.json
cli/*.tgz
cli/**
